html, body {
font-family: 'DM Sans', sans-serif;
background-color:  hsl(27, 66%, 92%);
}

h2 {
color: hsl(25, 47%, 15%);
padding-top: 15px;
padding-left: 10px;
}
 
.card-container {
background-color: hsl(10, 79%, 65%);
width: 400px;
min-height: 90px;
margin: auto;
margin-top: 40px;
border-radius: 18px;
display: flex;
}

.card-2 {
display: flex;
flex-direction: column;
}

.card-img {
display: flex;
align-items: center;
} 

.card-text {
padding-top: 8px;
margin-left: 20px;
color: white; 
font-size: 12px;
}

.card-number {
color: white;
font-weight: bold;
font-size: 20px;
margin-top: -2px;
margin-left: 20px;
}

.image {
width: 80px;
height: 40px;
margin-left: 210px;
}



.container-box {
  background-color: white;
  width: 400px;
  min-height: 440px;
  margin: auto;
  border-radius: 18px;
}

.boxes {
  display: flex;
  gap: 10px;
  width: 100%;
  min-height: 200px;
}

.box-1 {
   background-color: hsl(10, 79%, 65%);
   width: 60px;
   border-radius: 8px;
}

.box-2 {
  background-color: hsl(10, 79%, 65%);
  width: 60px;
  border-radius: 8px;
}

.box-3 {
  background-color: hsl(186, 34%, 60%);
  width: 60px;
  border-radius: 8px;
}

.box-4 {
  background-color: hsl(10, 79%, 65%);
  width: 60px;
  border-radius: 8px;
}

.box-5 {
  background-color: hsl(10, 79%, 65%);
  width: 60px;
  border-radius: 8px;
}

.box-6 {
  background-color: hsl(10, 79%, 65%);
  width: 60px;
  border-radius: 8px;
}

.box-7 {
  background-color: hsl(10, 79%, 65%);
  width: 60px;
  border-radius: 8px;
}

