html, body {
  font-family: 'DM Sans', sans-serif;
  background-color:  hsl(27, 66%, 92%);
}

.container {
  display: flex;
  margin: auto;
  margin-top: 50px;
  background-color: lightgreen;
  width: 500px;
  height: 90px;
  border-radius: 10px;
}

.text-balance {
  color: white;
  font-size: 12px;
  padding-top: 10px;
  padding-left: 15px;
}

.text-number {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  padding-left: 10px;
}

.logo-img {
  width: 70px;
  margin-left: 15rem;
}