html {
  font-family: 'Inter', sans-serif;
  font-family: 'Lexend Deca', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 1100px;
  height: 420px;
  background-color: hsl(244, 38%, 16%);
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  display: flex;
  border-radius: 10px;
}

.card-img {
  width: 450px;
  height: 420px;
  border-radius: 0 10px 10px 0;
  margin-left: 200px;
}

h2 {
  color: hsl(0, 0%, 100%);
  font-family: 'Inter', sans-serif;
  margin: 40px;
  width: 300px;
  text-align: center;
}

.span {
  color: hsl(277, 64%, 61%);
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Inter', sans-serif;
  line-height: 26px;
  margin: -5px 35px 40px 55px;
  width: 360px;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.number {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

strong {
  font-size: 20px;
  color: white;
  font-weight: bolder;
  margin-top: -10px;
}